rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Check if the current user is the owner of the data they are trying to access.
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Rules for all data nested under a user document.
    match /users/{userId}/{path=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
